NODE_ENV=dev
APP_NAME='GetPay - Bank APIs (NEPS)'
API_VERSION=v1
APP_ENV=dev
APP_PORT=3000

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DATACENTER=
DB_PORT=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_REPORT_EXPORT_JOB_PATH=

APPLY_ENCRYPTION=
SECRET_KEY=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
USER_EMAIL=user-email@example.com
USER_PASSWORD=user-password


KAFKA_BROKER=localhost:9094
KAFKA_BROKER_USERNAME=user
KAFKA_BROKER_PASSWORD=password@123

SECRET_JWT_KEY=
JWT_EXPIRES_IN=
JWT_ISSUER=
DEPLOYMENT_NAMESPACE=
DB_GROUP_NAME=getpay_demo

PRESTO_HOST=
PRESTO_PORT=
PRESTO_USER=user
PRESTO_PASSWORD=''
PRESTO_BASIC_AUTH='{"user":"user", "password":""}'

PRESTO_SCHEMA=
PRESTO_CATALOG=

LOGO = '{
    "getPaySmallLogo":"https://i.ibb.co/7RczhdD/getpay.png"
}'

OPERATOR_PORTAL_LINK= 'https://getpay.finpos.global/demo/bank-portal/#