DB_HOST=localhost
DB_USER=cms_admin
DB_PASSWORD=cms@123
DB_NAME=cms
DB_PORT=5432


SECRET_JWT_KEY=C3A71D6E2F4B8F5E3C2A1D7B0E5F9B2C7D0A3E9B6F8C4D2A1E7F0C8D3A6B9E1F
JWT_EXPIRES_IN=600
JWT_ISSUER=CMS
ENCRYPTION_KEY=hg+iOKO4FtY4z7